$font-lg: 2em;
$font-md: 1.25em;
$font-sm: 1em;

$color-green-darker: #1A3C0A; // 最深綠
$color-green-dark:   #758836; // 深綠
$color-green-light:  #8AB300; // 亮綠
$color-accent:       #FFB53D; // 強調色（亮橘黃）
$color-bg:           #FFFBF2; // 背景米白
$color-bg-dark:      #0B1226;

